{% extends 'erpBundle::layout.html.twig' %}

{% block title -%} Direcciones {% endblock %}

{% block body -%}

    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Cp</th>
                <th>Telefono</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Sociedad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('direcciones_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.cp }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.localidad }}</td>
                <td>{{ entity.provincia }}</td>
                <td>{{ entity.sociedad }}</th>
                <td>
                    {# <a href="{{ path('direcciones_show', { 'id': entity.id }) }}" class="modal_ajax_btn btn blue mini" data-toggle="modal">show</a> #}
                    <a href="{{ path('direcciones_edit', { 'id': entity.id }) }}" class="modal_ajax_btn btn red mini" data-toggle="modal">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('direcciones_new') }}" class="modal_ajax_btn btn red" data-toggle="modal">
        Agregar nueva direccion
    </a>
    {% endblock %}
