{% extends 'mainBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}

<script>
fbq('track', 'ViewContent');
</script>

  <section class="content">
	<img src="/img/slider/vacaciones.jpg" alt="Furgomania Internacional"/>
  
    <header class="page-header">
      <h1>{{"CONTACTA CON NOSOTROS" | trans }}</h1>
    </header>
    <div class="row mb15">
      <div class="span4"> 


        <h4><i class="icon-mail"></i> {{"Direccion" | trans }}:</h4>
        <address>
        {% trans %}Realizamos envíos a toda Europa desde nuestra fábrica en España. También puedes acudir a los concesionarios colaboradores para ver nuestro producto. Consúltanos cualquier duda.{% endtrans %}
        </address>
        <h4><i class="icon-mobile-1"></i> {{"Teléfono y WhatsApp" | trans }}</h4>
        <address>
		{#<img src="/operador-icon.jpg"/>
		<a href="tel:628137304">628 137 304</a>
		<img src="/img/banderas/spain.png" style="border-radius:50%; border: 1px solid #aaa;"/>
		<br> #}
		<img src="/email-icon.jpg">
		<a href="mailto:contacto@furgomania.com">contacto@furgomania.com</a>
		{#<img src="/img/banderas/uk.png" style="border-radius:50%; border: 1px solid #aaa;">#}
		<br> 
		8:00 a 20:00 de lunes a viernes
		<br>
		8:00 a 20:00 monday through friday
		<br>
		<br>
		WhatsApp <img src="/whatsapp.png"> | Todos los días | Every day
		<br>
		Facebook <img src="/facebook.png"> | Todos los días | Every day
		<br>
		Messenger <img src="/messenger.png"> | Todos los días | Every day
        </address>
        <h4><i class="icon-mail"></i> email</h4>
        <address>
        <a href="mailto:contacto@furgomania.com">contacto@furgomania.com</a>
        </address>
        <h4><i class="icon-facebook"> facebook</i></h4>
        <address>
        <a href="https://www.facebook.com/furgomania">https://www.facebook.com/furgomania</a>
        </address>

      </div>



      <!-- contact form -->
      <div class="span8">
 			<form action="{{ path('fm_main_default_contacto') }}" method="post" {{ form_enctype(form) }}>
	        	{{ form_widget(form) }}
	        	<p>
	        	<button type="submit" class="btn blue">{{"Enviar Mensaje" | trans }}</button>
	     	   </p>
	    	</form>
        <div class="result"></div>
      </div>
      <!-- contact form -->
    </div>

  </section>


{% endblock %}