{% extends 'mainBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}

  {# include 'mainBundle:Parts:ecwid.html.twig' #}


  {% include 'mainBundle:Parts:slider.html.twig' %}


  <!-- Slogan -->


<div class="row"><div class="span12"><h2>{% trans %}Camperiza Tu Furgoneta sin moverte de casa {% endtrans %}</h2></div><div class="span12"><blockquote>{% trans %}Con los kits autoinstalables de Furgomania no necesitas moverte de casa para camperizar tu furgoneta. Tampoco precisas tener herramientas ni un lugar específico para montar los muebles. Los kits están pensados para que no tengas que ir a un taller ni tener uno en casa. Se instalan en minutos, te mandamos los kits completamente terminados y se montan tan fácil que no necesitan instrucciones de montaje y tampoco modificarás tu furgoneta. Camperiza tu furgoneta tal cual viene de fábrica, y lo que es mejor, no necesitas legalizar en la ITV. Debido a su sistema de montaje patentado los kits son considerados una carga y, por ese hecho, no son necesarios legalizar en la ITV. Elige el kits que más se ajuste a tus necesidades y en 10 dias te lo mandamos a casa.{% endtrans %}.  </blockquote>
        </div>
      </div>



  <!-- Slogan / -->



{#
  <!-- Buttons -->
    <div class="row" >
      <div class="span12 innerNavWrapper">
        <nav  id="innerNav" class="clearfix innerNavWrapperIcons"> <a href="#diseno1" id="one"><i class="icon-heart"></i><span>{{ "DISEÑO ELEGANTE" | trans }}</span></a> <a href="#diseno2" id="two"><i class="icon-thumbs-up"></i><span>{{ "CALIDAD" | trans }}</span></a> <a href="#diseno3" id="three"><i class="icon-cog"></i><span>{{ "FACIL INSTALACIÓN" | trans }}</span></a> </nav>
      </div>
    </div>
  <!-- Buttons / -->
#}


  <!-- D1 -->
	<div id="diseno1" class="homeContent">
	      <div class="row mb15">

			<hr>
			
			<div class="span12"><h3>{{ "Garantía 100%" | trans }}</h3></div>
			<div class="span8">
				<p>{% trans %}Todos nuestros productos tienen dos años de garantía sin "letra pequeña". En todo momento nuestros clientes tienen contacto directo con nosotros, los fabricantes del producto, lo que les aporta la tranquilidad de solucionar cualquier tema de forma directa. Nuestro producto lo recibes en casa a los 10 días de la compra y tienes 15 días para probarlo cuanto quieras. Si no te gusta te devolvemos el 100% de la compra sin preguntas, simplemente nos lo comunicas y te retiramos el bulto para posteriormente hacerte la devolución cuando lo recibamos. Añadir que nuestros productos se venden directamente en concesionarios de vehículos nuevos de prestigiosas marcas. Piensa que si los concesionarios venden nuestro producto en vehículos nuevos es por algo. Furgomania te asegura que vas a recibir un producto con unos acabados excelentes, un producto de máxima calidad que hará que el aspecto interior de tu furgoneta mejore notablemente.{% endtrans %}</p>
			</div>
			<div class="span4"> <img src="{{ asset('/img/furgoneta-camper/kit-estantes-laterales-trafic-primastar-vivaro/T_IGNASIOLIVERAS-7354.png') }}" alt="superweb bootstrap web template"> </div>
      		</div>

{#
		<div class="row mb15">
		  <div class="span12">
			  <blockquote>{% trans %}Ponemos a tu disposición una completa gama de kits autoinstalables, soluciones y accesorios para las furgonetas mas utilizadas en camping del mercado:{% endtrans %}</blockquote>
			  <ul class="iconsList"> 
			  <li><i class="icon-right-open"></i><a href ="{{path('fm_kit_default_vehiculo',{'marca':'volkswagen','modelo':'transporter-t5-corta'})}}">VolksWagen Transporter T5</a></li>
			  <li><i class="icon-right-open"></i><a href ="{{path('fm_kit_default_vehiculo',{'marca':'volkswagen','modelo':'shuttle-t5-corta'})}}">VolksWagen Shuttle/Caravelle T5</a></li>
			  <li><i class="icon-right-open"></i><a href ="{{path('fm_kit_default_vehiculo',{'marca':'renault','modelo':'trafic'})}}">Renault Trafic</a></li>
			  <li><i class="icon-right-open"></i><a href ="{{path('fm_kit_default_vehiculo',{'marca':'nissan','modelo':'primastar'})}}">Nissan PrimaStar</a></li>
			  <li><i class="icon-right-open"></i><a href ="{{path('fm_kit_default_vehiculo',{'marca':'opel','modelo':'vivaro'})}}">Opel Vivaro</a></li>
			  </ul>
		  </div>
		</div>
#}
		
	</div>


      {% include 'mainBundle:Parts:fabricacion.html.twig' %}


      {% include 'mainBundle:Parts:clientes.html.twig' %}

      {% include 'mainBundle:Parts:instalacion.html.twig' %}
{% endblock %}