{% extends 'mainBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}

  {# include 'mainBundle:Parts:ecwid.html.twig' #}


  {% include 'mainBundle:Parts:slider.html.twig' %}


  {% include 'mainBundle:Parts:instalacion.html.twig' %}
  
  <!-- Slogan -->


<div id="diseno0" class="row">
	<div class="span12"><h3>{% trans %}CAMPERIZA TU FURGONETA SIN MOVERTE DE CASA{% endtrans %}</h3></div>
	<div class="span12">
		<p>{% trans %}Con los kits autoinstalables de Furgomania no necesitas moverte de casa para camperizar tu furgoneta. Tampoco precisas tener herramientas ni un lugar específico para montar los muebles. Los kits están pensados para que no tengas que ir a un taller ni tener uno en casa. Se instalan en minutos, te mandamos los kits completamente terminados y se montan tan fácil que no necesitan instrucciones de montaje y tampoco modificarás tu furgoneta. Camperiza tu furgoneta tal cual viene de fábrica, y lo que es mejor, no necesitas legalizar en la ITV. Debido a su sistema de montaje patentado los kits son considerados una carga y, por ese hecho, no son necesarios legalizar en la ITV. Elige el kits que más se ajuste a tus necesidades y en 10 dias te lo mandamos a casa.{% endtrans %}.  </p>
	</div>
</div>



  <!-- Slogan / -->



{#
  <!-- Buttons -->
    <div class="row" >
      <div class="span12 innerNavWrapper">
        <nav  id="innerNav" class="clearfix innerNavWrapperIcons"> <a href="#diseno1" id="one"><i class="icon-heart"></i><span>{{ "DISEÑO ELEGANTE" | trans }}</span></a> <a href="#diseno2" id="two"><i class="icon-thumbs-up"></i><span>{{ "CALIDAD" | trans }}</span></a> <a href="#diseno3" id="three"><i class="icon-cog"></i><span>{{ "FACIL INSTALACIÓN" | trans }}</span></a> </nav>
      </div>
    </div>
  <!-- Buttons / -->
#}


  <!-- D1 -->
	<div id="diseno1" class="homeContent">
	    <div class="row mb15">

			<hr>
			
			<div class="span12"><h3>{{ "GARANTÍA 100%" | trans }}</h3></div>
			<div class="span8">
				<p>{% trans %}Todos nuestros productos tienen dos años de garantía sin "letra pequeña".{% endtrans %}</p>
                
                <p>{% trans %}En todo momento,  los clientes tienen contacto directo con Furgomania, lo que les aporta la tranquilidad de solucionar cualquier incidencia de forma personal y directa.{% endtrans %}</p>
                
                <p>{% trans %}A los 10 días de la compra, recibirás tu <strong>kit camper</strong> con los muebles solicitados para tu <strong>furgoneta</strong>.  Durante 15 días podrás probarlo sin compromiso. Si no te gusta, te devolvemos el 100% de la compra. Para ello, deberás ponerte en contacto con nuestro departamento comercial y retiraremos el bulto lo antes posible. Una vez recibido en nuestras instalaciones, automáticamente se procederá a la devolución del dinero.{% endtrans %}</p>
                
                <p>{% trans %}Muchos de nuestros <strong>muebles para furgonetas</strong> se exponen directamente en concesionarios de vehículos de prestigiosas marcas.{% endtrans %}</p>
                
                <p>{% trans %}En Furgomania te aseguramos que recibirás un kit camper de excelentes acabados. Muebles para <strong>camperizar furgonetas</strong> de máxima calidad y que harán que el aspecto interior de tu furgoneta mejore notablemente.{% endtrans %}</p>
			</div>
			<div class="span4"> <img src="{{ asset('/img/Garantia.jpg') }}" alt="En Furgomania conseguirás hasta dos años de garantia en tus muebles para equipar furgonetas camper"> </div>
      	</div>
	</div>


      {% include 'mainBundle:Parts:fabricacion.html.twig' %}


      {% include 'mainBundle:Parts:clientes.html.twig' %}

{% endblock %}