{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Concesionarios{% endblock %}
{% block description %}{% endblock %}
{% block article %}


  <section class="content">


<section>
      <div class="row">
        <div class="span12">
		<h1>{{"EXPOSICIÓN DE KITS EN CONCESIONARIOS" | trans }}</h1>
          <div class="hero-unit hero-color">
			<p>{% trans %}<strong>NOTA IMPORTANTE:</strong> Estimados clientes de Furgomania, los concesionarios de vehículos no venden kits ni tampoco informan sobre ellos, los concesionarios solo venden el KITs si usted quiere adquirir al mismo tiempo una furgoneta. Cualquier información que usted necesite sobre los kits, ha de llamarnos directamente a nosotros. Muchas gracias.{% endtrans %}</p>
          </div>
        </div>
      </div>
    </section>

<section class="mb40">
      <div class="row">
        <div class="span4">
          <div class="imgRounded"><img alt="girl" src="{{asset('bundles/main/images/concesionarios/levantewagen.png')}}"></div>
        </div>
        <div class="span8">
          <h3>Valencia, Levante Wagen</h3>
          <p>{% trans %}En Valencia, en la Avenida del Cid, puedes ver una exposición de nuestros kits, montados en las furgonetas VolksWagen Transporter, disponemos de un kit basico mas kit 4 en 1 ademas de un kit alto completo para que puedas comprobar la calidad, acabados y resolver cualquier duda que tengas, además podras adquirir tu furgo nueva o de ocasión ya equipada con nuestros equipamientos.{% endtrans %}</p>
		</div>


	<div class="span4">
        <h4><i class="icon-mail"></i> {{"Dirección" | trans }}:</h4>
        <address>
        Avenida del Cid, 152<br /> 46014 Valencia
        </address>
	</div>
	<div class="span4">
        <h4><i class="icon-globe"></i> {{"Contacto" | trans }}</h4>
		<a target="_new" href="http://www.levantewagen.es/volkswagen-comerciales/vehiculos-seminuevos/ofertas">www.levantewagen.es</a>
	</div>
       
    </section>



<section class="mb40">
      <div class="row">

        <div class="span8">
          <h3>Girona, VolksWagen Autopodium</h3>
          <p>{% trans %}En Gerona, puedes ver una exposición de nuestros kits, montados en las furgonetas VolksWagen Transporter, disponemos de un kit basico para que puedas comprobar la calidad, acabados y resolver cualquier duda que tengas, además podras adquirir tu furgo nueva o de ocasión ya equipada con nuestros equipamientos.{% endtrans %}</p>

<div class="row">
	<div class="span4">
        <h4><i class="icon-mail"></i> {{"Dirección" | trans }}:</h4>
        <address>
     Ctra. Sta. Coloma de Famers, 59.<br />
	17005 | Girona
        </address></div>
	<div class="span4">
        <h4><i class="icon-globe"></i> {{"Contacto" | trans }}</h4>
		<a target="_new" href="http://comerciales.autopodium.es/gama/VOLKSWAGEN/COMERCIAL">www.autopodium.es</a></div>
	</div>
</div>
         <div class="span4">
          <div class="imgRounded"><img alt="girl" src="{{asset('bundles/main/images/concesionarios/autopodium.png')}}"></div>
        </div>
</section>



<section class="mb40">
      <div class="row">
        <div class="span4">
          <div class="imgRounded"><img alt="girl" src="{{asset('bundles/main/images/concesionarios/sevillawagen.jpg')}}"></div>
        </div>
        <div class="span8">
          <h3>Sevilla Wagen S.A</h3>
          <p>{% trans %}En la Ctra Sueminencia 2 expone nuestros kits en las Volkswagen Transporter T6. Podrás adquirir tu furgo equipada con nuestros kits o comprobar los acabados de nuestros productos. Si necesitas consultar cualquier tema contacta con nosotros y te informamos.{% endtrans %}</p>
		</div>


	<div class="span4">
        <h4><i class="icon-mail"></i> {{"Dirección" | trans }}:</h4>
        <address>
        Ctra. Sueminencia 2<br /> 41006 Sevilla
        </address>
	</div>
	<div class="span4">
        <h4><i class="icon-globe"></i> {{"Contacto" | trans }}</h4>
		<a target="_new" href="http://www.sevillawagen.es">www.sevillawagen.es</a>
	</div>
       
</section>



<section class="mb40">
      <div class="row">

        <div class="span8">
          <h3>Tarragona, Reusmòbil</h3>
          <p>{% trans %}En Pol. Agro-Reus, C/Recasens i Mercadé 7 expone nuestros kits en las Volkswagen Transporter T6. Podrás adquirir tu furgo equipada con nuestros kits o comprobar los acabados de nuestros productos. Si necesitas consultar cualquier tema contacta con nosotros y te informamos.{% endtrans %}</p>

<div class="row">
	<div class="span4">
        <h4><i class="icon-mail"></i> {{"Dirección" | trans }}:</h4>
        <address>
		Pol. Agro-Reus, C/Recasens i Mercadé 7.<br />
		43206 Reus | Tarragona
        </address></div>
	<div class="span4">
        <h4><i class="icon-globe"></i> {{"Contacto" | trans }}</h4>
		<a target="_new" href="http://www.vwreus.com/es/">www.vwreus.com</a></div>
</div>
</div>
         <div class="span4">
          <div class="imgRounded"><img alt="girl" src="{{asset('bundles/main/images/concesionarios/reusmobil.jpg')}}"></div>
        </div>
</section>


<section class="mb40">
      <div class="row">
        <div class="span4">
          <div class="imgRounded"><img alt="girl" src="{{asset('bundles/main/images/concesionarios/telenauto.jpg')}}"></div>
        </div>
        <div class="span8">
          <h3>León, Telenauto S.A.</h3>
          <p>{% trans %}En la Crta. León - Astorga km 4,5 expone nuestros kits en las Volkswagen Transporter T6. Podrás adquirir tu furgo equipada con nuestros kits o comprobar los acabados de nuestros productos. Si necesitas consultar cualquier tema contacta con nosotros y te informamos.{% endtrans %}</p>
		</div>


	<div class="span4">
        <h4><i class="icon-mail"></i> {{"Dirección" | trans }}:</h4>
        <address>
        Crta. León - Astorga km 4,5<br /> 24010 Trobajo del Camino (León)
        </address>
	</div>
	<div class="span4">
        <h4><i class="icon-globe"></i> {{"Contacto" | trans }}</h4>
		<a target="_new" href="http://www.telenauto.com">www.telenauto.com</a>
	</div>
       
</section>




<section class="testimonial">
<h3>Concesionarios</h3>
	<div class="carousel slide" id="testimonialCarousel">
	  <div class="carousel-inner">
		<div class="item active">
		  <blockquote>"{% trans %}Colaboramos con concesionarios a lo largo del territorio nacional, ofreciendo la posibilidad de vender Furgonetas nuevas o Seminuevas equipadas con Furgomania desde el Concesionario {% endtrans %}"<span class="arrowTestimonial"></span> </blockquote>
		  <div class="clientIcon"><i class="icon-user"></i> {{"Información para concesionarios" | trans }}</div>
		</div>

	  </div>
	</div>
</section>

<a href="{{ path('fm_main_default_contacto') }}" class="btn btn-info"> 
  {{"concesionarios interesados, oficiales o vehiculos de ocasión, contacten con furgomania" | trans }}
</a>

{% endblock %}