{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Concesionarios{% endblock %}
{% block description %}{% endblock %}
{% block article %}

<script>
fbq('track', 'ViewContent');
</script>

<section class="content">
	<h1>Kits para Furgonetas Camper</h1>
	<h2>Todas las marcas</h2>

    <div class="row mb40">
      <div class="span2-4">
	  <a href="http://www.furgomaniavw.com/es/volkswagen"><img src="/img/marcas/volkswagen.jpg" alt="Furgonetas Camper Volkswagen en Furmogania"></a>
	  <a href="http://www.furgomaniavw.com/es/volkswagen"><h3 style="text-align: center;">Volkswagen</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'renault'})}}"><img src="/img/marcas/renault.jpg" alt="Furgonetas Camper Renault en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'renault'})}}"><h3 style="text-align: center;">Renault</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'nissan'})}}"><img src="/img/marcas/nissan.jpg" alt="Furgonetas Camper Nissan en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'nissan'})}}"><h3 style="text-align: center;">Nissan</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'opel'})}}"><img src="/img/marcas/opel.jpg" alt="Furgonetas Camper Opel en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'opel'})}}"><h3 style="text-align: center;">Opel</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'mercedes'})}}"><img src="/img/marcas/mercedes.jpg" alt="Furgonetas Camper Mercedes en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'mercedes'})}}"><h3 style="text-align: center;">Mercedes</h3></a>
      </div>
	</div>
    <div class="row mb40">
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'citroen'})}}"><img src="/img/marcas/citroen.jpg" alt="Furgonetas Camper Citroen en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'citroen'})}}"><h3 style="text-align: center;">Citroên</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'fiat'})}}"><img src="/img/marcas/fiat.jpg" alt="Furgonetas Camper Fiat en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'fiat'})}}"><h3 style="text-align: center;">Fiat</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'peugeot'})}}"><img src="/img/marcas/peugeot.jpg" alt="Furgonetas Camper Peugeot en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'peugeot'})}}"><h3 style="text-align: center;">Peugeot</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_marca',{'marca':'ford'})}}"><img src="/img/marcas/ford.jpg" alt="Furgonetas Camper Ford en Furmogania"></a>
	  <a href="{{path('fm_kit_default_marca',{'marca':'ford'})}}"><h3 style="text-align: center;">Ford</h3></a>
      </div>
      <div class="span2-4">
	  <a href="{{path('fm_kit_default_vehiculo',{'marca':'todas-las-marcas','modelo':'kit-universal-furgonetas-pequenas'})}}"><img src="/img/marcas/furgomania.jpg" alt="Kit universal furgonetas Camper en Furmogania"></a>
	  <a href="{{path('fm_kit_default_vehiculo',{'marca':'todas-las-marcas','modelo':'kit-universal-furgonetas-pequenas'})}}"><h3 style="text-align: center;">Kit Universal</h3></a>
      </div>
	</div>
	
	<article class="content">
		<div class="row">
			
			<div class="span12 mb30">
				<p>¿Te gustaría convertir tu furgoneta en una auténtica camper? ¿Necesitas seguir disfrutando del espacio de tu furgoneta convencional?</p>
				<p>En <strong>Furgomania</strong>, empresa líder en muebles para <strong>furgonetas camper</strong>, encontrarás la solución que estabas buscando.</p>
				<p>Nuestros <a href="{{path('fm_main_paginas_kitautoinstalable')}}">kits autoinstalables</a> están diseñados con un sistema revolucionario de “quita y pon”, lo que te permite instalar fácilmente el kit completo en 5 minutos (sin herramientas, sin taller, sin tener que pasar la ITV, sin instrucciones).</p>
				<p>Pero además, podrás desinstalar rápidamente el kit de muebles y cama, cuando necesites disfrutar de las características de tu furgoneta convencional.</p>
				<p>Los kits autoinstalables están diseñados para todo tipo de <strong>furgonetas camper</strong>, independientemente de su marca o modelo. ¡Elige el tuyo!</p>
			</div>
			
			<div class="span8">
				<h3>SOLUCIÓN PARA FURGONETAS PEQUEÑAS</h3>
				<p>Hemos diseñado un kit especial para <strong>furgonetas camper</strong> más pequeñas, ideal para instalar en cualquier vehículo que disponga de espacio interior.</p>
				<br>
				<p class="centered"><a class="btn" href="{{path('fm_kit_default_vehiculo',{'marca':'todas-las-marcas','modelo':'kit-universal-furgonetas-pequenas'})}}">Más información</a></p>
			</div>
			<div class="span4">
				<p><img src="/img/furgoneta-camper/kit-universal-furgo/T_1.jpg" alt="Kit universal para furgonetas pequeñas"></p>
			</div>
				
		</div>
	</article>
</section>


{% endblock %}