{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Concesionarios{% endblock %}
{% block description %}{% endblock %}
{% block article %}


<section class="content">
    <header class="page-header">
      <h1>{{ "KITS AUTOINSTALABLES" | trans }} </h1>
    </header>
</section>
<section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            <h1>{% trans %}furgoneta camper sin herramientas sin I.T.V.{% endtrans %}</h1>
          </div>
        </div>
      </div>
  
   <h2><span>{% trans %} comienza el recorrido y descubre nuestras soluciones para tu furgoneta{% endtrans %}</span></h2>


    <div class="row mb40" >
      <div class="span12 innerNavWrapper">
        <nav  id="innerNav" class="clearfix innerNavWrapperIcons"> <a href="#kitcama"><i class="icon-heart"></i><span>{{ "KIT CAMA BASIC" | trans }}</span></a> <a href="#kitalto"><i class="icon-thumbs-up"></i><span>{{ "KIT MODULO ALTO" | trans }}</span></a> <a href="#kit41"><i class="icon-cog"></i><span>{{ "KIT 4 EN 1" | trans }}</span></a> </nav>
      </div>
    </div>
  </section>
<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
        <br />
        <h2>Kit Cama Basic<span>{% trans %}una solucion básica muy completa para camperizar tu furgo{% endtrans %}</span></h2>
          <section class="video">
            <iframe src="http://player.vimeo.com/video/78682434" width="100%" height="397" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </section>


<section class="mb40">
                        <!-- Blockquote -->
                        <div class="row">
                            <div class="span12 quoteRow">
                                <div class="row">
                                      <div class="span12">
                                        <blockquote> 

<small><strong>{% trans %}Kit Cama{% endtrans %}</strong> {% trans %}Descubre lo <strong>fácil</strong> que es y la infinidad de ventajas que aporta a tu furgoneta.{% endtrans %}, Disponible para las siguientes <span class="highlights">furgonetas</span>:</small>



                                            




                                        </blockquote>




                                      </div>
                                      <div class="span12 mb30">
                                        
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'transporter-t5-corta','kit':'kit-cama-basic'})}}" class="btn btn-mini">VW Transporter T5 corta</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'caravelle-t5-corta','kit':'kit-cama-basic'})}}" class="btn btn-mini">VW Caravelle T5 corta</a>

  <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'shuttle-t5-corta','kit':'kit-cama-basic'})}}" class="btn btn-mini">VW Shuttle T5 corta</a>

           <a href="{{path('fm_kit_default_kit',{'marca':'renault','modelo':'trafic','kit':'kit-cama-basic'})}}" class="btn btn-mini">Renault Trafic</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'opel','modelo':'vivaro','kit':'kit-cama-basic'})}}" class="btn btn-mini">Opel Vivaro</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'nissan','modelo':'primastar','kit':'kit-cama-basic'})}}" class="btn btn-mini">Nissan PrimaStar</a>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Blockquote -->
                        </section>


        </div>

      </div>
      <div class="row mb15">
        <div class="span6"> <img src="{{ asset('img/T_FURGOMANIA-21.jpg') }}" alt="superweb bootstrap web template"> </div>
        <div class="span6">
          <blockquote>{% trans %} Montaje rápido, en tan solo cinco minutos disfruta de tu furgoneta camper {% endtrans %}</blockquote>
          <p> {% trans %}El Kit cama es la solución basica que te proponemos para camperizar tu furgo, consta de dos módulos de baja altura sobre los que se acoplan las tablas que componen la superficie de la cama, este kit te permitira disfrutar de una cama de grandes dimensiones que se extiende de un lado al otro de tu furgo, aprovechando todo el espacio. {% endtrans %}</p>

        </div>
      </div>
           {# <section class="widget blogTags">
                  <h3>Kit Cama disponible para:</h3>
                  <ul>
                    <li><a href="#" class="w2">VW Transporter T5 Chasis corto</a></li>
                    <li><a href="#" class="w1">VW Shutle T5 Chasis Corto</a></li>
                    <li><a href="#" class="w3">VW Carabele T5 Chasis Corto</a></li>
                    <li><a href="#" class="w3">Renault Trafic</a></li>
                    <li><a href="#" class="w1">Nissan PrimaStar</a></li>
                    <li><a href="#" class="w2">Opel Vivaro</a></li>
                    <li><a href="#" class="w2">Nissan NV200</a></li>
                    <li><a href="#" class="w2">VW Transporter T5 Chasis Largo</a></li>

                  </ul>
                </section>#}
    </div>
  </section>

  <section class="videoWrapper mb40" id="kitalto">
    <div class="container">
      <div class="row">
        <div class="span12">
                <br />

        <h2>{% trans %} Kit Cama con módulo alto{% endtrans %}<span>{% trans %}máximas prestaciones, capacidad de carga, agua y nevera{% endtrans %}</span></h2>
          <section class="video">
            <iframe src="http://player.vimeo.com/video/78682435" width="100%" height="397" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </section>



<section class="mb40">
                        <!-- Blockquote -->
                        <div class="row">
                            <div class="span12 quoteRow">
                                <div class="row">
                                      <div class="span12">
                                        <blockquote> 

<small><strong>{% trans %}Kit Cama con módulo alto {% endtrans %}</strong> {% trans %}añade capacidad extra a tu furgo, nevera y depósito de agua {% endtrans %} , Disponible para las siguientes <span class="highlights">furgonetas</span>:</small>



                                            




                                        </blockquote>




                                      </div>
                                      <div class="span12 mb30">
                                        
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'transporter-t5-corta','kit':'kit-modulo-alto-basic'})}}" class="btn btn-mini">VW Transporter T5 corta</a>
           <a href="{{path('fm_kit_default_kit',{'marca':'renault','modelo':'trafic','kit':'kit-modulo-alto-basic'})}}" class="btn btn-mini">Renault Trafic</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'opel','modelo':'vivaro','kit':'kit-modulo-alto-basic'})}}" class="btn btn-mini">Opel Vivaro</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'nissan','modelo':'primastar','kit':'kit-modulo-alto-basic'})}}" class="btn btn-mini">Nissan PrimaStar</a>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Blockquote -->
                        </section>







        </div>
      </div>

      <div class="row mb15">
        <div class="span6"> <img src="{{ asset('img/T_FURGOMANIA-67.jpg') }}" alt=""> </div>
        <div class="span6">
          <blockquote>{% trans %}Especialmente diseñado para instalar la nevera CDF25 de WAECO {% endtrans %}</blockquote>
          <p> {% trans %}El compartimento con elegante puerta corredera de gran capacidad esta especialemende diseñado para alojar un depósito de agua con autobomba de 21 litros de capacidad, el depósito al ser extraible da versatilidad al compartimento pudiendo utilizarse para múltiples propósitos. El módulo alto es compatible con el kit cama básico ya que solo se sustituye el modulo de la derecha para conseguir toda esta capacidad y comodidades. {% endtrans %}</p>
        </div>
      </div>

                  
    </div>
  </section>

    <section class="videoWrapper mb40" id="kit41">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
                <br />

        <h2>Kit extensión 4 en 1 <span>{% trans %} el complemento ideal para tu Kit, añade funcionalidad a tu furgoneta camper{% endtrans %}</span></h2>
          <section class="video">
            <iframe src="http://player.vimeo.com/video/78682436" width="100%" height="397" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        
          </section>

<section class="mb40">
                        <!-- Blockquote -->
                        <div class="row">
                            <div class="span12 quoteRow">
                                <div class="row">
                                      <div class="span12">
                                        <blockquote> 

<small><strong>Kit extensión 4 en 1</strong> {% trans %}amplía la superficie de tu cama y otras ventajas{% endtrans %}, Disponible para las siguientes <span class="highlights">furgonetas</span>:</small>



                                            




                                        </blockquote>




                                      </div>
                                      <div class="span12 mb30">
                                        
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'transporter-t5-corta','kit':'kit-cuatro-en-uno-arcon'})}}" class="btn btn-mini">VW Transporter T5 corta</a>
          
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Blockquote -->
                        </section>




        </div>
      </div>
      <div class="row mb15">
        <div class="span6"> <img src="{{ asset('img/T_FURGOMANIA-12.jpg') }}" alt="superweb bootstrap web template"> </div>
        <div class="span6">
          <blockquote>{% trans %}El complemento perfecto para el kit cama básico y el kit cama alto {% endtrans %} </blockquote>
          <p> {% trans %}con un simple sistema de acople sin herramientas ni modificacion alguna en el vehículo, puedes extender la cama, disponer de una mesita interior y otra exterior muy útilies, un amplio cajon muy accesible, y lo mas importante la nevera cajón WAECO CD 30 , este módulo esta disponible en modo Arcón, que al no llevar nevera ni cajones es mucho mas económico y aporta una increible capacidad en el arcón en la que puedes llevar hasta un baño quimico o una nevera portátil {% endtrans %}</p>



        </div>
      </div>

                  
    </div>
  </section>














    <section class="videoWrapper mb40" id="kit41">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
                <br />

        <h2>Complementos y Accesorios <span>{% trans %} mesas, paneles laterales, neveras y depósitos{% endtrans %}</span></h2>


        </div>
      </div>
      <div class="row mb40">
        <div class="span5"> <img src="{{ asset('img/furgoneta-camper/mesa-delantera/T_1.JPG') }}" alt="superweb bootstrap web template"> </div>
        <div class="span7">
          <blockquote>{% trans %} Kit mesa plegable delantera {% endtrans %} </blockquote>
          <p> {% trans %} el sistema de fijación requiere la instalación de una pequeña guia utilizando dos simples tornillos autorroscantes, la mesa esta fabricada del mismo material y acabados que nuestros kits autoinstables por lo que este complento encajará en tu furgo tanto estética como funcionalmente a la perfección. {% endtrans %}</p>



          <div class="mb30">
          <div><b>{% trans %} Disponible para las siguientes furgonetas camper:{% endtrans %}</b></div>
              
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'transporter-t5-corta','kit':'kit-mesa-delantera'})}}" class="btn btn-mini">VW Transporter T5</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'caravelle-t5-corta','kit':'kit-mesa-delantera'})}}" class="btn btn-mini">VW Caravelle</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'shuttle-t5-corta','kit':'kit-mesa-delantera'})}}" class="btn btn-mini">VW Shuttle</a>
           <a href="{{path('fm_kit_default_kit',{'marca':'renault','modelo':'trafic','kit':'kit-mesa-delantera'})}}" class="btn btn-mini">Trafic</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'opel','modelo':'vivaro','kit':'kit-mesa-delantera'})}}" class="btn btn-mini">Vivaro</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'nissan','modelo':'primastar','kit':'kit-mesa-delantera'})}}" class="btn btn-mini">PrimaStar</a>
          
          </div>


        </div>
      </div>

      <div class="row mb40">

        <div class="span7">
          <blockquote>{% trans %} Paneles Laterales {% endtrans %} </blockquote>
          <p> {% trans %} paneles de almacenamiento y aislamiento que cubren las chapas traseras o lunas de tu furgoneta, utiliza para su fijacion unos pequeños agujeros que vienen de serie con en las traffic/vivaro/primastar por este motivo solo los hacemos para estas furgonetas, ya que nuestra filosofia es no modificar la furgoneta para instalar nuestros kits, disponen de una elegante puerta corredera que vestiran tu furgo por dentro {% endtrans %}</p>

          <div class="mb30">
          <div><b>{% trans %} Disponible para las siguientes furgonetas camper:{% endtrans %}</b></div>
          <a href="{{path('fm_kit_default_kit',{'marca':'renault','modelo':'trafic','kit':'kit-paneles-estantes-laterales'})}}" class="btn btn-mini">Trafic</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'opel','modelo':'vivaro','kit':'kit-paneles-estantes-laterales'})}}" class="btn btn-mini">Vivaro</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'nissan','modelo':'primastar','kit':'kit-paneles-estantes-laterales'})}}" class="btn btn-mini">PrimaStar</a>
          
          </div>








        </div>
                <div class="span5"> <img src="{{ asset('img/furgoneta-camper/kit-estantes-laterales-trafic-primastar-vivaro/4.png') }}" alt="superweb bootstrap web template"> </div>
      </div>

      <div class="row mb40">
        <div class="span5"> <img src="{{ asset('/img/T_FURGOMANIA-54.jpg') }}" alt="superweb bootstrap web template"> </div>
        <div class="span7">
          <blockquote>{% trans %} Kit de patas para mesa trasera {% endtrans %} </blockquote>
          <p> {% trans %} usando una de las superficies de la cama sobre la que se atornillan las patas plegables, logramos una mesa utilizable tanto dentro como fuera de la furgo, se trata de un accesorio imprescindible y práctico {% endtrans %}</p>




          <div class="mb30">
          <div><b>{% trans %} Disponible para las siguientes furgonetas camper:{% endtrans %}</b></div>
              
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'transporter-t5-corta','kit':'kit-mesa-trasera'})}}" class="btn btn-mini">VW Transporter T5</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'caravelle-t5-corta','kit':'kit-mesa-trasera'})}}" class="btn btn-mini">VW Caravelle</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'volkswagen','modelo':'shuttle-t5-corta','kit':'kit-mesa-trasera'})}}" class="btn btn-mini">VW Shuttle</a>
           <a href="{{path('fm_kit_default_kit',{'marca':'renault','modelo':'trafic','kit':'kit-mesa-trasera'})}}" class="btn btn-mini">Trafic</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'opel','modelo':'vivaro','kit':'kit-mesa-trasera'})}}" class="btn btn-mini">Vivaro</a>
          <a href="{{path('fm_kit_default_kit',{'marca':'nissan','modelo':'primastar','kit':'kit-mesa-trasera'})}}" class="btn btn-mini">PrimaStar</a>
          
          </div>
 

        </div>
      </div>
                  
    </div>
  </section>




{##}











 
{% endblock %}