{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Concesionarios{% endblock %}
{% block description %}{% endblock %}
{% block article %}


	    <header class="page-header">
	      <h1>{{entity.marca}} {{entity.modelo}}</h1>
	    </header>
<section>

        <div class="row">

           <div class="span12">
		          <div class="camera_wrap">

		          {% for foto in entity.galeria %}
		            <div data-thumb="{{ foto.th }}" data-src="{{ foto.img }}" >
		            {% if foto.iframe is defined %}
		            	<iframe src="{{ foto.iframe }}" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		            {% endif %}
		            </div>
		          {% endfor %}  
		          </div>
		    </div>  
		</div>    
  		<div class="row">
		  	<div class="span8">  
				<h2>{{ entity.nombre}} <span>{{ entity.marca}} {{entity.modelo }} </span></h2>
				<blockquote>{{ entity.descripcion | trans | raw }}</blockquote>
				
				{% if entity.features %}
					<div style="border:1px dashed #EEE; padding:5px; margin-bottom:20px;">
						<h3>{{"Carácteristicas" | trans }}:</h3>
						<ul class="iconsList iconsList-large">
						{% for component in entity.features %}
							<li><i class="icon-star">{{component | trans }}</i></li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				
				<p class="highlight">
				IMPORTANTE: Furgomania está en constante investigación y desarrollo de todos sus productos y por ello cabe la posibilidad de que el producto que reciba en su pedido no sea exactamente igual al reflejado en nuestra web. No obstante, Furgomania garantiza que el que reciba será de mejores cualidades en cuanto a su funcionalidad, seguridad o apariencia. Todos nuestros productos tienen un periodo de devolución de 15 días si no está satisfecho con el mismo y una garantía total de 2 años.
				</p>
        	</div>
          	<div class="span4">
				<div class="pricingBloc focusPlan">
					<h2>{{entity.nombre | trans }}</h2>
		            
					<h3>{% if entity.precio > 0 %} {{entity.precio}} € {% endif %}
					
					<span>
					{{ entity.estado | trans }}
					</span>
					</h3>
					<ul>
						{% for feature in entity.contenido %}
							<li>{{feature | trans }}</li>
						{% endfor %}
						<li> {{"impuestos y portes no incluidos" | trans }}</li>
					</ul>
		    		<p class="sign"> <a class="btn btn-large" href="{{ path('fm_main_default_contacto') }}" style=" ">{{"LO QUIERO" | trans }}</a> </p>
				</div>
			</div>   
		</div>
		
		{# if entity.opciones != '' %}
		<div class="row">
			<div class="span12">
			  <h2><span>Opciones</span></h2>
			</div>
			{% for option in entity.opciones %}
			<div class="span4">
			  <div class="pricingBloc">
				<h2>{{option.nombre}}</h2>
				<h3>{{option.precio}} €</h3>
				<ul>
					{% for component in option.contenido %}
					<li>{{component}}</li>
					{% endfor %}
				</ul>
				
			  </div>
			</div>
			{% endfor %}
        </div>
		{% endif #}

      </section>


{% endblock %}