{#

<section class="mb40 clients">
        <div class="row">
          <div class="span12">
            <h2>{% trans %}Algúnos de nuestros clientes{% endtrans %} <span>{% trans %}reconocimiento al miembro mas importante del equipo Furgomania{% endtrans %}</span></h2>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="{{ asset('img/clientes/roberto.jpg') }}" alt="Roberto ( Lugo )"> <p>Roberto ( Lugo )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="{{ asset('img/clientes/laura-egoitz-zintzo.jpg') }}" alt=""> <p>Laura y Zinto ( Bizkaia )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="{{ asset('img/clientes/marta.jpg') }}" alt=""> <p>Marta ( Madrid )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="{{ asset('img/clientes/sergio.jpg') }}" alt=""> <p>Sergio ( Granada )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="{{ asset('img/clientes/ivan.jpg') }}" alt=""> <p>Iván ( Barcelona )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="{{ asset('img/clientes/manuel.jpg') }}" alt=""> <p>Manuel ( Barcelona )</p></div>
          </div>
        </div>
</section>

#}