  <section class="content">
    <header class="page-header">
      <h1>{% trans %}Distribuidores{% endtrans %}<span>{# trans %}otros paises, consultar{% endtrans #}</span></h1>
    </header>
    <section>


<div class="row mb40">

        <div class="span4">
          <article> <img alt="team superweb" height="124px" src="{{asset('img/es.jpg')}}">
            <div class="team upArrow">
              <h3>Furgomania Motor España S.L.U.</h3>
              <h4> Península, Baleares y Canarias</h4>
              <p> +34 628 137 304 </p>
              <a href="{{ path('fm_main_default_contacto') }}">contacto@furgomania.com</a>
              {#<ul class="socialTeam">
                <li><a data-original-title="Síguenos en Facebook" href="https://www.facebook.com/furgomania" class="btn btn-inverse tips"><i class="icon-facebook"></i></a></li>
                <li><a data-original-title="follow me on Twitter" href="" class="btn btn-inverse tips"><i class="icon-twitter"></i></a></li>
                <li><a data-original-title="follow me on Tumblr" href="" class="btn btn-inverse tips"><i class="icon-tumblr"></i></a></li>
              </ul>#}
            </div>
          </article>
        </div>

         <div class="span4">
          <article> <img alt="team superweb" src="{{asset('img/fr.png')}}">
            <div class="team upArrow">
              <h3>Furgomania Motor España S.L.U.</h3>
              <h4>France<br></h4>
              <p>+34 696 510 043</p>
			  <p>(Attention aun client seulement à l´anglais)</p>
              <a href="{{ path('fm_main_default_contacto') }}">contacto@furgomania.com</a>

            </div>
          </article>
        </div>
               
        <div class="span4">
          <article><img alt="team superweb" src="{{asset('img/pt.jpg')}}">
            <div class="team upArrow">
              <h3>Furgomania Motor España S.L.U.</h3>
              <h4>Portugal<br></h4>
              <p>+34 696 510 043</p>
			  <p>(Atendimento ao cliente em Português ou inglês, caso seja de vossa preferência)</p>
              <a href="{{ path('fm_main_default_contacto') }}">contacto@furgomania.com</a>
              
            </div>
          </article>
        </div>






      </div>
</section>
   {#   <section class="mb40">
      <div class="row mb40">


         <div class="span4">
          <article><img alt="team superweb" src="{{asset('img/de.png')}}">
            <div class="team upArrow">
              <h3>{{"i-VAN"|trans}}</h3>
              <h4>Deutschland</h4>
             <p>+34 659 15 78 40</p>
              <a href="{{ path('fm_main_default_contacto') }}">deutschland@furgomania.com</a>
              
            </div>
          </article>
        </div>

        <div class="span4">
          <article> <img alt="team superweb" height="124px" src="{{asset('bundles/main/images/partners/italia.jpg')}}">
            <div class="team upArrow">
              <h3>Laboratorio 6</h3>
              <h4>Italia</h4>
              <p>nel processo</p>
              <a href="{{ path('fm_main_default_contacto') }}">italy@furgomania.com</a>

            </div>
          </article>
        </div>}

                <div class="span4">
          <article><img alt="team superweb" src="{{asset('bundles/main/images/partners/disponible.' ~ app.request.locale ~ '.jpg')}}">
            <div class="team upArrow">
              <h3>{{"Disponible"|trans}}</h3>
              <h4>Portugal</h4>
              <p>{{"Disponible"|trans}}</p>
              <a href="{{ path('fm_main_default_contacto') }}">portugal@furgomania.com</a>
              
            </div>
          </article>
        </div>


 
</div>
    </section>#}