
  <!-- D2 -->
        {#
		<div id="diseno2" class="row">
		
			<hr>  
			
			<div class="span4"> <img src="{{ asset('img/FURGOMANIA-1.jpg') }}" alt="superweb bootstrap web template"> </div>
			<div class="span4">
				<h3>{{ "Materiales" | trans }}</h3>
				<p> {% trans %}Maderas solidas, montajes con fresado, diseño y construcción resistente a golpes, baches y demás. Nuestros ingenieros se han devanado los sesos para lograr la mejor construcción posible, y para lograrlo, los mejores materiales con tratamiento hidrófugo.{% endtrans %} </p>
				<p> {% trans %}Nuestro sistema único y patentado de anclaje hace que el mobiliario completo forme parte de tu furgo como si hubiese sido fabricado en conjunto. {% endtrans %}</p>
			</div>
			<div class="span4">
				<h3>{{ "Proceso de fabricación" | trans }}</h3>
				<p> {% trans %}Todas las piezas del Kit Autoinstalable estan diseñadas por ordenador y mecanizadas con la mas alta tecnología, de ahi la limpieza y precisión de los cortes y canteados.{% endtrans %}</p>	    
				<p> {% trans %}A diferencia de cualquier trabajo a medida nuestro sistema único de fabricación en serie, asegura que el kit se adapte a tu furgoneta como parte integral.{% endtrans %}</p>
			</div>
        </div>
		#}
		
		
		<div id="diseno2" class="row">
		
			<hr>  
			
			<h3>{{ "Fabricación" | trans }}</h3>
			<div class="span8">
				<p>{% trans %}Furgomania no fabrica sus productos con personal propio. Nos dedicamos al desarrollo de los prototipos y supervisamos la fabricación en las fabricas externas que tenemos concertadas. Este sistema de fabricación nos garantiza un excelente acabado de nuestros productos ya que cada elemento esta fabricado por empresas profesionales en cada sector. Realizamos un seguimiento de cada elemento y concluimos con un control de calidad de cada kit. Todos los elementos son fabricados con los más modernos sistemas de fabricación. Maquinaria asistida por ordenador lo que asegura una fabricación milimétrica y en consecuencia un perfecto encaje en tu vehículo.{% endtrans %}</p>
			</div>
			<div class="span4"> <img src="{{ asset('img/FURGOMANIA-1.jpg') }}" alt="superweb bootstrap web template"> </div>
		
        </div>
		