<!-- BLOQUE INSTALACION -->
		  
	  <div id="diseno3" class="row noSlider">
	    <div class="span12">
			<h1>{{"Furgomania, líderes en furgonetas camper"| trans | raw }}</h1>
			<h2>{{"¿Por qué deberías elegir los kits autoinstalables de Furgomania?"| trans | raw }}</h2>
		</div>
        <br/>
	    <div class="span6">
	      <h3>{{"CAMPERIZA TU FURGONETA SIN COMPLICACIONES" | trans}}</h3>
	      <ul class="iconsList iconsList-medium">
			<li><i class="icon-right-circle"></i>&nbsp;{{"Selecciona el modelo de tu furgoneta"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"Elige el kit que te guste"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"Te lo enviamos a casa en 10 días"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"Lo instalas tu mismo en 5 min"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"Sistema patentado de anclaje"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"Sin ningún tipo de herramientas"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"No necesitas pasar ITV"| trans | raw }}</li>
			<li><i class="icon-right-circle"></i>&nbsp;{{"Tu <strong>furgoneta</strong> tal cual viene de fábrica" | trans | raw }}</li>
	      </ul>
	    </div>
	    <div class="span6"> 
			<img src="{{ asset('img/instalacion/5.jpg') }}" alt="Furgonetas camperizadas a traves de kits autoinstables que puedes montar y desmontar en 5 minutos. Sistema camper patentado en España por Furgomania."/>
	    </div>
	  </div>


<!-- FIN BLOQUE INSTALACION -->

