  <!-- slider -->
  <div class="row ">
    <div class="span12">
      <div class="videolayer">

          <div class="span12">
            <h2> <span>kit autoinstalable, video de instalacion</span></h2>
          </div>
        <iframe src="http://player.vimeo.com/video/78682434" width="100%" height="397" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>


      <div class="flexslider">
        <ul class="slides sliderWrapper">


          <li class="slideN0"> <img src="{{ asset('img/T_FURGOMANIA-20.jpg') }}" alt="pic 2"/>
            <div class="caption left">
              <div class="element3-1" data-animation="fadeInLeftBig">
                <h1 class="logoSlider"><img src="http://www.furgomania.com/slider-title.png" alt="KITS FURGOMANIA" /></h1>
              </div>

              <div class="element2-1" data-animation="fadeInLeftBig">

                <h2><i class="icon-star"></i> {% trans %}Ahora tambien disponible para Traffic/Vivaro/PrimaStar{% endtrans %} </h2>

              </div>
              <div class="element2-2" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}No necesita I.T.V.{% endtrans %}</h2>
              </div>
              <div class="element2-3" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}Sin herramientas {% endtrans %}</h2>
              </div>
              <div class="element2-5" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}Sin modificar el vehículo{% endtrans %} </h2>
              </div>
            </div>
          </li>



          <li class="slideN1"> 

          {#<iframe id="player_1"  
          src="http://player.vimeo.com/video/78682434?api=1&amp;player_id=player_1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>#}
<img src="{{ asset('img/primastar-trafic-vivaro-camper/T_2.JPG') }}" alt="pic 2"/>
            <div class="caption right">
              <div class="element4-1" data-animation="fadeInRightBig">
                <h1> {% trans %}Kit Cama Auto Instalable para tu furgoneta {% endtrans %}</h1>
              </div>
          
              <div class="element1-4" data-animation="fadeInLeftBig"><a href="{{ path('fm_main_paginas_kitautoinstalable') }}" class="btn">{% trans %}descubre lo fácil que es{% endtrans %}</a></div>


            </div>

    

          </li>


          <li class="slideN2"> <img src="{{ asset('img/T_FURGOMANIA-2.jpg') }}" alt="pic 2"/>
            <div class="caption left">
              <div class="element2-1" data-animation="bounceInDown">
                <h1>{% trans %}No necesita I.T.V.{% endtrans %}</h1>
              </div>
              <div class="element2-3" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}Sin herramientas {% endtrans %}</h2>
              </div>
              <div class="element2-5" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}Sin modificar el vehículo{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="bounceInDown">
                <h2><i class="icon-star"></i>{% trans %} De quita y pon, rápido y fácil{% endtrans %}</h2>
              </div>
              <div class="element2-6" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}Conserva las plazas originales{% endtrans %} </h2>
              </div>
              <div class="element2-7" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> {% trans %}Múltiples combinaciones y accesorios{% endtrans %} </h2>
              </div>
              <div class="element3-0" data-animation="bounceInDown"> <a href="{{ path('fm_main_paginas_kitautoinstalable') }}" title="" class="btn btn-large"><i class="icon-download"></i>  {% trans %}Obtener más información!{% endtrans %}</a></div>
            </div>
          </li>
          <li class="slideN3"> <img src="{{ asset('img/furgoneta-camper/kit-alto-trafic-primastar-vivaro/T_IGNASIOLIVERAS-7362.png') }}" alt="pic 1"/>
            <div class="caption right">
              <div class="element3-1" data-animation="fadeInLeftBig">
                <h1 class="logoSlider"><img src="http://www.furgomania.com/slider-title.png" alt="KITS FURGOMANIA" /></h1>
              </div>
              <div class="element3-2 hidden-phone" data-animation="fadeInRightBig">
                <h2>{% trans %}Convierte tu furgo en un Camper de altas prestaciones, sin perder tu capacidad de carga y la versatilidad de tu vehículo.{% endtrans %}
                </h2>
              </div>
              <div class="element3-3" data-animation="fadeInRightBig"><a href="{{path('fm_kit_default_marca',{'marca':'volkswagen'})}}" class="btn hidden-phone">VolksWagen Transporter T5</a></div>

              <div class="element3-3" data-animation="fadeInRightBig"><a href="{{path('fm_kit_default_marca',{'marca':'renault'})}}" class="btn hidden-phone">Traffic/Vivaro/PrimaStar</a></div>

              <div class="element3-3" data-animation="fadeInRightBig"><a href="{{path('fm_kit_default_marca',{'marca':'nissan'})}}" class="btn hidden-phone">NISSAN NV200</a></div>


              <div class="element3-3" data-animation="fadeInRightBig"><a href="{{path('fm_kit_default_marca',{'marca':'mercedes'})}}" class="btn hidden-phone">MERCEDES VITO</a></div>
            </div>
          </li>
          <li class="slideN4"> <img src="{{ asset('img/T_FURGOMANIA-12.jpg') }}" alt="pic 4"/>
            <div class="caption left">
              <div class="element4-2 hidden-phone" data-animation="fadeInLeftBig">
                <h2>{% trans %}NUEVO MÓDULO 4 en 1{% endtrans %}</h2>
              </div>
              <div class="element4-3" data-animation="fadeInLeftBig"><a href="#" class="btn hidden-phone">{% trans %}Nevera Waeco CD-30{% endtrans %}</a></div>
              <div class="element4-3" data-animation="fadeInLeftBig"><a href="#" class="btn hidden-phone">{% trans %}Compatible con todos los kits cama{% endtrans %}</a></div>
              <div class="element4-3" data-animation="fadeInLeftBig"><a href="#" class="btn hidden-phone">{% trans %}Cajon porta objetos{% endtrans %}</a></div>
              <div class="element4-3" data-animation="fadeInLeftBig"><a href="#" class="btn hidden-phone">{% trans %}Mesita exterior{% endtrans %}</a></div>

              <div class="element4-3" data-animation="fadeInLeftBig"><a href="#" class="btn hidden-phone">{% trans %}extensión de la cama{% endtrans %}</a></div>
            </div>
          </li>


          <li class="slideN5"> <img src="{{ asset('img/T_FURGOMANIA-52.jpg') }}" alt="pic 4"/>
            <div class="caption right">
              <div class="element4-2 hidden-phone" data-animation="fadeInRightBig">
                <h2>{% trans %}NUEVO MÓDULO COMEDOR{% endtrans %}</h2>
              </div>
              <div class="element4-3" data-animation="fadeInRightBig"><a href="#" class="btn btn-block">{% trans %}Mesa regulable en altura{% endtrans %}</a></div>
              <div class="element4-3" data-animation="fadeInRightBig"><a href="#" class="btn hidden-phone">{% trans %}puede usarse dentro y fuera{% endtrans %}</a></div>
            </div>
          </li>


          <li class="slideN6"> <img src="{{ asset('img/T_patentefurgomania.jpg') }}" alt="pic 4"/>
                       <div class="caption left">
              <div class="element2-1" data-animation="bounceInDown">
                <h1>{% trans %}Producto Patentado{% endtrans %}</h1>
              </div>
                <div class="element2-2" data-animation="fadeInRightBig">
                <h2>{% trans %}El sistema de anclaje patentado de Furgomania, no precisa modificar el vehículo, usa los ganchos de carga de serie del vehículo para fijar el kit autoinstalable por lo que todo el conjunto es considerado carga y no precisa ningun tipo de homologación en la I.T.V.<br/>Nuestros ingenieros han realizado minuciosos cálculos de angulos y fuerzas que aseguran una fijación firme y perfecta sin ruidos ni vibraciones usando tan solo las manos para la instalacion del kit{% endtrans %}
                </h2> 
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="flexiShadow"><img src="{{ asset('bundles/main/images/ui/flexi-shadow.png') }}" alt="slider shadow"/></div>
    </div>
  </div>
  <!-- slider -->

{#}  <!-- slider -->
  <div class="row ">
    <div class="span12">
      <div class="flexslider">
        <ul class="slides sliderWrapper">
          <li class="slideN0"> <img src="/kits/bundles/kits/images/sliders/bg-slide1.jpg" alt="Bienvenida"/>
            <div class="caption right">
              <div class="element1-1" data-animation="fadeInLeftBig">
                <h1 class="logoSlider"> <img src="/kits/bundles/kits/images/theme-pics/slider-title.png" alt="Colección 2014" /> </h1>
              </div>
              <div class="element1-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> Tu furgoneta Camper sin ITV<br />
                  KIT AUTOINSTALABLE DE QUITA Y PON </h2>
              </div>
              <div class="element1-3  hidden-phone" data-animation="fadeInRightBig">
                <p> el sistema patentado de Furgomania te permitirá convertir tu furgoneta en un camper en pocos minutos sin necesidad de modificar la furgoneta </p>
              </div>
              <div class="element1-4" data-animation="fadeInLeftBig"><a href="#" class="btn hidden-phone">mas información</a></div>
            </div>
          </li>

          <li class="slideN1"> <img src="/kits/bundles/kits/images/sliders/bg-slide3.jpg" alt="pic 1"/>
            <div class="caption right">
              <div class="element3-1" data-animation="fadeInLeftBig">
                <h1 class="logoSlider"><img src="/kits/bundles/kits/images/theme-pics/slider-title.png" alt="hello we are SuperWeb" /></h1>
              </div>
              <div class="element3-2 hidden-phone" data-animation="fadeInRightBig">
                <p>Son muchas las opciones que te ofrecemos para camperizar tu furgoneta sin tener que ir al taller, disponemos de kits para muchas marcas y modelos de furgoneta. </p>
		<p>Tu furgoneta camper sin necesidad de ITV y sin moverte de tu casa</p>
              </div>
              <div class="element3-3" data-animation="fadeInRightBig"><a href="#furgos" class="btn hidden-phone">CONSÚLTA DISPONIBILIDAD PARA TU VEHÍCULO</a></div>
            </div>
          </li>

          <li class="slideN2"> <img src="/kits/bundles/kits/images/sliders/bg-slide2.jpg" alt="pic 2"/>
            <div class="caption left">
              <div class="element2-1" data-animation="bounceInDown">
                <h1>Kit de Extensión 4 en 1</h1>
              </div>
              <div class="element2-2" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> Cama King Size en tu furgo <br /> extiende la superficie de tu cama </h2>
              </div>
              <div class="element2-3" data-animation="bounceInDown">
                <h2><i class="icon-star"></i>  ¿ Una cervecita fría ?<br / >sin problema con "CD30 de WAECO" </h2>
              </div>
  
              <div class="element2-5" data-animation="bounceInDown">
                <h2><i class="icon-star"></i> Diferentes combinaciones <br /> elige color, 2 cajones, 1 cajon y nevera </h2>
              </div>
              <div class="element2-6" data-animation="bounceInDown">
                <p> <i class="icon-star"> 449 € (con dos cajones )</i> <br /> <i class="icon-star"> 849 € ( con nevera instalada y un cajón )</i><br /> </p>
              </div>
              <div class="element2-7" data-animation="bounceInDown"><a href="#" class="btn hidden-phone">lo quiero</a></div>
            </div>
          </li>


        </ul>
      </div>
      <div class="flexiShadow"><img src="/kits/bundles/kits/images/ui/flexi-shadow.png" alt="slider shadow"/></div>
    </div>
  </div>
  <!-- slider --> #}
