			
								<table class=" table-bordered table-advance table-hover">
									<thead>
										<tr>
											<th colspan="2"><i class="icon-briefcase"></i> Factura</th>
											<th class="hidden-phone"><i class="icon-calendar"></i> Fecha</th>
											<th><i class="icon-bookmark"></i> Total</th>
											<th>  
											                  <a href="{{ path('factura_new', { 'cliente': entity.id }) }}" class="modal_ajax_btn btn blue mini" data-toggle="modal"><i class="icon-plus-sign"></i> Nueva Factura</a></th>
										</tr>
									</thead>
									<tbody>

									            {% for factura in entity.facturas  %}

									                {% if factura.estado == 1 %}


									    <tr>
											<td><span class="label label-info">No grabada</span></td>
											<td></td>
											<td class="hidden-phone">{{ factura.fecha|date('d-m-Y') }}</td>
											<td>- € </td>
											<td>
<a href="{{ path('factura_grabar', { 'id': factura.id }) }}" class="btn modal_ajax_btn mini red-stripe" data-toggle="modal">GRABAR</i></a>
<a href="{{ path('factura_edit', { 'id': factura.id }) }}" class="btn modal_ajax_btn mini green-stripe" data-toggle="modal">EDITAR</i></a>

											</td>
										</tr>            
			
									                {% else %}

									    <tr>
											<td>
								
											{{factura.codfactura}}
											</td><td>

											{# if factura.fechapagado == null %}
											<a href="{{ path('factura_toogle_pagado', {'id':factura.id}) }}" class="btn mini red tooltips"  data-placement="top" data-original-title="Marcar como Atendida ">
											<i class="icon-check-empty"></i>
											Pendiente</a>
												
											{% else %}
											<a href="{{ path('factura_toogle_pagado', {'id':factura.id}) }}" class="btn mini tooltips" data-placement="top" data-original-title="Marcar como pendiente">
											<i class="icon-check"></i>
											Atendida</a>
												
											{% endif #}

											</td>
											<td class="hidden-phone">{{ factura.fecha|date('d-m-Y') }}</td>
											<td>{{factura.base * 1.21}} € </td>
											<td>

											<a href="{{ path('factura_download', { 'id': factura.id, '_format':'pdf' }) }}" class="btn mini red-stripe">PDF</a>
											
											<a href="{{ path('factura_enviar', { 'id': factura.id }) }}" class="btn modal_ajax_btn mini blue-stripe" data-toggle="modal">ENVIAR</a>


                               				 <a href="{{ path('factura_selector_direcciones', {'id': entity.id}) }}" class="modal_ajax_btn btn mini green-stripe"><i class="icon-file"></i> Dirección alternativa</a>

                               				 {# include 'erpBundle:factura:conceptosunicosboton.html.twig' #}

											</td>
										</tr>

									                
									                {% endif %}
									  
									            {% endfor %}

							
									</tbody>
								</table>
				



