{% extends "erpBundle::layout.modal.html.twig" %}

{# {% form_theme form _self %}

{% block form %}
	{% spaceless %}
    	<div class="piece alert alert-block alert-info fade in">
        		{{ form_errors(form) }}
        		{{ form_widget(form) }}
    	</div>
	{% endspaceless %}
{% endblock %} #}




{% block title -%} 
    Añadir al pedido <b>{{pedido.id}}</b> <i>({{pedido.fechaEntrega | date('d-m-Y')}})</i> los conceptos referentes a la factura <b>{{factura.codFactura}}</b>
{% endblock %}

{% block body -%}
 <style type="text/css">
	#fm_erpbundle_pedidoitem textarea{ width:100%; height:100px;}
</style>

    {% if factura.pedidos |length %}
            <h1>
            No puedes añadir al pedido {{pedido.id}} la factura {{factura.codFactura}} porque ya esta añadida en el pedido {{ factura.pedidos.0.id }}
            </h1> 
    {% else %} 
        <div class="form">
            {{ form(form) }}
        </div>
    {% endif %}

{% endblock %}
