{% extends "erpBundle::layout.html.twig" %}

{% block title -%} Pedidos {% endblock %}
    {% block body -%}

        {% for k,i in ['pendientes de tramitar','tramitados'] %}

              <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-edit"></i>Listado de Pedidos {{i}}</div>
                        {% if not k %}
                        <div class="actions">
                            <div class="btn-group">
                            <a href="{{ path('pedido_new') }}" class="modal_ajax_btn btn blue" data-toggle="modal">
                                <i class="icon-plus"></i> CREAR NUEVO PEDIDO
                            </a>
                            </div>
                        </div>
                        {% endif %}
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                        <thead>
                            <tr>
                                <th>Numero Pedido</th>
                                {% if k %}<th>Fecha Tramitado</th> {% endif %}
                                <th>Fecha Entrega Prevista</th>
                                <th>Facturas Incluidas</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for entity in entities if (entity.fechaEnvio is empty) != k %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    {% if k %}<td>{{ entity.fechaEnvio is empty ? "" : entity.fechaEnvio|date('d-m-Y') }}</td> {% endif %}

                                    <td>{{ entity.fechaEntrega|date('d-m-Y') }}</td>
                                    <td>
                                        {% set newArray = [] %}

                                        {% for item in entity.items %}
                                        {% if item.factura.codFactura not in newArray %}
                                        {% set newArray = newArray|merge([item.factura.codFactura]) %}
                                        {% endif %}
                                        {% endfor %}
                                        {{ newArray | join(' | ')}}
                                    </td>
                                    <td>
                                        {% if not k %}<a href="{{ path('pedido_send', { 'id': entity.id }) }}" class="modal_ajax_btn btn red" data-toggle="modal"><i class="icon-edit"></i> Tramitar el Pedido</a>
                                        <a href="{{ path('pedido_edit', { 'id': entity.id }) }}" class="modal_ajax_btn btn red" data-toggle="modal"><i class="icon-edit"></i> Editar Pedido</a>{% endif %}
                                        <a href="{{ path('pedido_select_facturas', { 'id': entity.id}) }}" class="btn blue"><i class="icon-book"></i> Gestionar pedido</a>   
                                        <a href="{{ path('pedido_show', { 'id': entity.id,'_format':'pdf','proveedor':'masferrer' }) }}" class="btn blue"><i class="icon-book"></i> Descargar PDF</a>
                                
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

    {% endblock %}
