{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pedido</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechaentrega</th>
                <td>{{ entity.fechaEntrega|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
   <table>
    <tr background-color="#eb613d" color="white" font-size="14px" text-align="center">
      <td width="310px" border-color="#eb613d" padding="5px">CONCEPTO</td>
      <td border-color="#eb613d" padding="5px" width="70px">UNIDADES</td>
      <td border-color="#eb613d" padding="5px" width="70px">OBSERVACIONES</td>
      <td border-color="#eb613d" padding="5px" width="70px">CODFACTURA</td>
    </tr>
      {% for producto in entity.items  %}
            <tr font-size="13px">
              <td border-color="#eb613d" padding="5px">{{ producto.descripcion }}</td>
              <td border-color="#eb613d" padding="5px" text-align="center"> {{ producto.cantidad }} </td>
              <td border-color="#eb613d" padding="5px" text-align="right"> {{ producto.observaciones }} </td>
              <td border-color="#eb613d" padding="5px" text-align="right"> {{ producto.factura.codfactura }} </td>
            </tr>
      {% endfor %}
    </table>

{% endblock %}
