        {# <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown">concepto unico
            <i class="icon-angle-down"></i>
        </button> #}
        <ul class="dropdown-menu" role="menu">
            {% for entityCu in conceptosunicos %}
                    <li class="dropdown-submenu">
                        <a href="javascript:;"> {{ entityCu.concepto }} </a>
                        <ul class="dropdown-menu" style="">
                            {% if id_direccion %}
                                <li>
                                    <a href="{{ path('factura_enviar', { 'id': entity.id, 'id_direccion': id_direccion,'conceptounico': entityCu.id }) }}"> Enviar al Cliente </a>
                                </li>
                                <li>
                                    <a href="{{ path('factura_show', { 'id': entity.id, 'id_direccion': id_direccion,'conceptounico': entityCu.id, '_format':'pdf' }) }}"> Descargar PDF </a>
                                </li>
                            {% else %}
                            
                                <li>
                                    <a href="{{ path('factura_enviar', { 'id': entity.id, 'conceptounico': entityCu.id }) }}"> Enviar al Cliente </a>
                                </li>
                                <li>
                                    <a href="{{ path('factura_show', { 'id': entity.id, 'conceptounico': entityCu.id, '_format':'pdf' }) }}"> Descargar PDF </a>
                                </li> 
                            {% endif %}
                        </ul>
                    </li>
            {% endfor %}
        </ul>                                                            