{% extends "erpBundle::layout.html.twig" %}

{% block title -%} Facturas {% endblock %}
    {% block body -%}
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-edit"></i>Listado de Facturas Pendientes de Grabar</div>
                <div class="actions">
                    <div class="btn-group">
                       <a href="{{ path('factura_new') }}" class="modal_ajax_btn btn blue" data-toggle="modal">
                          <i class="icon-plus"></i> CREAR NUEVA FACTURA
                      </a>
                  </div>
              </div>
        </div>

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                <thead>
                    <tr>
                        <th>Serie</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Lugar</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.serie }}</td>
                            <td>{{ entity.fecha|date('d-m-Y') }}</td>
                            <td>{{ entity.cliente.name }} ({{ entity.cliente.dniCif }})</td>
                            <td>{{ entity.cliente.provincia }}, {{ entity.cliente.localidad }} ({{ entity.cliente.cp }})</td>
                            <td>
                                <a href="{{ path('factura_edit', { 'id': entity.id }) }}" class="modal_ajax_btn btn red mini" data-toggle="modal"><i class="icon-edit"></i> Editar</a>
                                <a href="{{ path('factura_grabar', { 'id': entity.id }) }}" class="modal_ajax_btn btn red mini" data-toggle="modal"><i class="icon-book"></i> Grabar Factura</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-book"></i>Listado de Facturas Grabadas</div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                    <thead>
                        <tr>
                            <th>Codfactura</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Base</th>
                            <th>Iva</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in grabadas %}
                            <tr>
                                <td>{{ entity.codfactura }}</td>
                                <td>{{ entity.fecha|date('d-m-Y') }}</td>
                                <td>{{ entity.cliente.name }} ({{ entity.cliente.dniCif }})<br />
                                {{ entity.cliente.provincia }}, {{ entity.cliente.localidad }} ({{ entity.cliente.cp }})</td>
                                <td>{{ entity.base |number_format(2, '.', ',')}} €</td>
                                <td>{{ entity.base * 0.21 |number_format(2, '.', ',')}} €</td>
                                <td>{{ entity.base * 1.21 |number_format(2, '.', ',')}} €</td>

                                <td>


                                   
                                    <div class="btn-group btn-group-solid">

                                            <a href="{{ path('factura_show', { 'id': entity.id,'_format':'pdf'}) }}" class="btn red" target="_new">
                                            <i class="icon-edit"></i> Descargar PDF</a>

                                            <button href="{{ path('factura_edit', { 'id': entity.id }) }}" class="modal_ajax_btn_confirmation btn red"
                                            data-toggle="modal" data-original-title="¿ seguro que quieres editar una factura grabada ?">
                                            <i class="icon-edit"></i> Editar</button>

                                            <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown">Acciones
                                                <i class="icon-angle-down"></i>
                                            </button>
                                      
                                            <ul class="dropdown-menu" style="">                           
                                                    <li>
                                                        <a href="{{ path('factura_add_pedido', { 'id': entity.id }) }}" class="modal_ajax_btn" data-toggle="modal"><i class="icon-home"></i>Añadir a pedido</a>
                                                    </li>
                                                    <li class="dropdown-submenu">  
                                                        <a href="javascript:;" class=""><i class="icon-info"></i>Concepto único</a>                                         
                                                        {% include 'erpBundle:factura:conceptosunicosboton.html.twig' %} 
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a href="javascript:;"><i class="icon-envelope"></i> Enviar factura</a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a href="{{ path('factura_enviar', { 'id': entity.id }) }}" class="modal_ajax_btn" data-toggle="modal"><i class="icon-envelope"></i> Enviar al Cliente</a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('factura_selector_direcciones', {'id': entity.id}) }}" class="modal_ajax_btn" data-toggle="modal"><i class="icon-file"></i> Dirección alternativa</a>                             
                                                            </li>
                                                        </ul>

                                                    </li>
                                                    <li>
                                                        <a href="{{ path('factura_clone', {'id':entity.id}) }}" class="tooltips"  data-placement="top" data-original-title="Genera una nueva Factura"><i class="icon-check-empty"></i> Generar Factura</a>
                                                    </li>


                                            </ul>
                                                                                                               
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}