{% extends "erpBundle::layout.modal.html.twig" %}

{% block title -%} Editor Producto {{ entity.id }}{% endblock %}

{% block body -%}

    <form action="{{ path('productos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div class="span6">

                    <h4>Selecciona contenido del Cajón</h4>
                                    
                        {{ render(controller('erpBundle:Default:selectwidget',{'select' : edit_form.contenido})) }}

</div>


<div class="span6">

        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn blue">Guardar los Cambios</button>
        </p>
    </form>

</div>

      <form action="{{ path('productos_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn red">Eliminar este producto</button>
    </form>  

{% endblock %}
