{% extends "erpBundle::layout.modal.html.twig" %}

{% block title -%} Editor bulto {{ entity.numeroserie }}{% endblock %}

{% block body -%}
<div class="row-fluid">
    <form action="{{ path('ordenesfabricacion_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(edit_form) }}>
					<div class="span6">
						<h4>Selecciona contenido del Cajón</h4>
                                    
                        {{ render(controller('erpBundle:Default:selectwidget',{'select' : edit_form.contenido})) }}
		
					</div>

                     
					<div class="span6">
						<h4>Información del cajón</h4>
						{{ form(edit_form) }}
					</div>
    </form>
							
</div>
	

    

{% endblock %}
