{% extends 'erpBundle::layout.html.twig' %}

{% block title %}Series{% endblock %}
{% block body -%}
    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
        <thead>
            <tr>
               
                <th>Serie</th>
                <th>Descripcion</th>
                <th>Operador</th>
                <th>Marcada Por Defecto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.serie }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.operador }}</td>
                <td>

                    {% if entity.bydefault %}

                <i class="icon-check"></i>

                    {% endif %}

            </td>
                <td>
                    {# <a href="{{ path('series_show', { 'id': entity.id }) }}">show</a> #}
                    <a href="{{ path('series_edit', { 'id': entity.id }) }}" class="modal_ajax_btn btn red mini" data-toggle="modal">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('series_new') }}" class="modal_ajax_btn btn red" data-toggle="modal">
        Crear Serie
    </a>
{% endblock %}
