<div width="105mm" height="148.5mm">
    <div margin="5mm 8mm">
        {% if logo == '' %}
        <img width="100%" src="{{ pdf_image('erpBundle:furgomania-logo-ok.png') }}" />
        {% endif %}
        {% if logo == 'psa' %}
        <img src="{{ pdf_image('erpBundle:psa-logo-ok.png') }}" />
        {% endif %}
        

        <p font-size="36px" padding-top="30px" padding-bottom="30px" text-align="center">
                                        <b>{{ orden.referencia ? orden.referencia.factura.codfactura : '' }}</b>
                                        <hr />
                                        <b>{{ orden.numeroserie }}</b>   
        </p>
        <div font-size="10px" padding="20px" height="150px"  background-color="#EEEEEE">
        {{ orden.producto }}

            {# <ul>
                {% for referencia in orden.contenido  %}
                    <li>{{ referencia.codfurgo }} {{ referencia.descripcion }}</li>
                {% endfor %}
            </ul> #}
        </div>
    </div>
</div>