{% extends "erpBundle::layout.html.twig" %}

{% block title -%} Ordenes de Envio {% endblock %}

{% block body -%}
            <div class="portlet box blue">

                        <div class="portlet-title">
                                <div class="caption"><i class="icon-globe"></i>Listado general de envios</div>
                                <div class="actions">
                                    <div class="btn-group">
                                        <a class="btn" href="#" data-toggle="dropdown">
                                        Mostrar/Ocultar Columnas
                                        <i class="icon-angle-down"></i>
                                        </a>
                                        <div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                                            <label><input type="checkbox" checked data-column="3">Descuento Oficial</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">



    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Estado</th>
                <th>Cajones Incluidos</th>
                {# <th>Factura/Cliente</th> #}
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('envios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fecha|date('Y-m-d') }}</td>

                <td>{{ entity.observaciones }}</td>
                <td>{{ entity.estado }}</td>
                <td> {% if entity.misordenes %}{% for orden in entity.misordenes  %}
                                    
                                    <div>
                                        <i class="icon-tags"></i> <b> {{ orden.numeroserie }} </b>
                                    
                                        <br>
                                        {{ orden.referencia ? orden.referencia.factura.codfactura : orden.producto}}
                                        -    
                                        {{ orden.referencia ? 
                                                orden.referencia.factura.cliente.name : 
                                                entity.cliente ? 
                                                        entity.cliente.name : 
                                                        entity.factura ? 
                                                                entity.factura.cliente.name : 
                                                                ''
                                        }}
                                    </div>
                                    <br/>
                     {% endfor %}{% endif %} 
                </td>
                {# <td>
                  {% if entity.cliente %}{{ entity.cliente.name }}{% endif %}
                  {% if entity.factura %}{{ entity.factura.serie.serie }}, {{ entity.factura.cliente.name }}{% endif %}
                  {{ entity.misordenes ? (entity.misordenes|first).referencia : 'sin cliente'}}
                </td> #}
                <td>

                        <a href="{{ path('envios_show', { 'id': entity.id,'_format':'pdf' }) }}" class="btn red mini">pdf</a>
                        {% if entity.factura and entity.factura.serie.serie == "PS" %}
                        <a href="{{ path('envios_etiquetas', { 'id': entity.id,'_format':'pdf','logo':'psa' }) }}" class="btn red mini">etiquetas</a>

                        {% else %} 
                        <a href="{{ path('envios_etiquetas', { 'id': entity.id,'_format':'pdf' }) }}" class="btn red mini">etiquetas</a>
                        {% endif %}
                        <a href="{{ path('envios_edit', { 'id': entity.id }) }}" class="modal_ajax_btn btn green mini" data-
                        <a href="{{ path('envios_edit', { 'id': entity.id }) }}" class="modal_ajax_btn btn blue mini" data-toggle="modal">edit</a>
     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('envios_new') }}" class="modal_ajax_btn btn red" data-toggle="modal">
                Nueva orden de envío
            </a>
        </div>
    </div>




    {{ render(controller('erpBundle:ordenesfabricacion:estocaje')) }}

    {% endblock %}  