<pdf>

     <dynamic-page encoding="UTF-8" font-type="DejaVuSans" page-size="a4">
        <table>
           <tr>
               <td border-color="white"><img width="100%" src="{{ pdf_image('erpBundle:furgomania-logo-ok.png') }}" />

<h1 text-align="center">ORDEN RECOGIDA</h1>
               </td>
               <td border-color="white" padding="20px">


                                           <div background-color="#EEEEEE" margin="0px" padding="45px 42px">
            <h1> FECHA DE RECOGIDA </h1>

                {{ entity.fecha | localizeddate('full', 'none', 'es') }}
        </div>
                    {# <div background-color="#EEEEEE" padding="20px 70px" text-align="center">
                       <img src="{{ pdf_image('erpBundle:logo-rhenus.png') }}" />
                    </div> #}
               </td>
           </tr>
        </table>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> DATOS RECOGIDA </h1>
            <div>
                {# FUSTERIA MASFERRER, S.L.<br />
                Pol. Ind. Torres-Pujals, 36<br />
                Telf. 972 86 04 98<br />
                Fax  972 16 23 70<br />
                Móvil 699 957 547<br />
                17401 – ARBUCIES   <br />
                www.fusteriamasferrer.com<br />
                fusteria@fusteriamasferrer.com<br />
                Persona de contacto: Xavi Masferrer #}

                Furgomania Motor España S.L. (Del. Girona)<br />
                C/. Estenedor, 33 bajos. (Prat de Can Delfí)<br />
                17401, ARBUCIES (Girona)<br />
                Contacto: Joaquim Porcel<br />
                Telf. 680 565332<br />
                tecnico@furgomania.com<br />
                www.furgomania.com
            </div>

        </div>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> DATOS ENTREGA </h1>
            <div>
                {{ direccion.name }}<br />
                {# {{ direccion.dniCif }}<br /> #}
                {{ direccion.direccion }}<br />
                {{ direccion.cp }} ( {{ direccion.localidad }} )<br />
                {{ direccion.provincia }}<br />
                {{ direccion.telefono }}<br />
                {{ direccion.email }} 

            </div>

        </div>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> OBSERVACIONES DE RECOGIDA</h1>
            <div>
                {{ entity.observaciones }}
            </div>
        </div>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> PARTES DEL ENVIO </h1>
            <div>
                                        <table font-size="8px">
                                            <tr>
                                                <td border-color="white" padding="5" font-size="9px" text-align="center">Referencia</td>
                                                <td border-color="white" padding="5" font-size="9px" text-align="center">Número de Serie</td>
                                                {# <td border-color="white" padding="2" font-size="9px">Contenido</td> #}
                                                <td border-color="white" padding="5" font-size="9px" text-align="center">mm - (m3)</td>
                                            </tr> 

                                        {% for orden in entity.misordenes  %}
                                            <tr>
                                                <td padding="5" text-align="center"><b font-size="12px">{{ orden.referencia ? orden.referencia.factura.codfactura : 'sin referencia' }}</b></td>
                                                <td padding="5" text-align="center"><b font-size="12px">{{ orden.numeroserie }}</b></td>
                                                {# <td padding="2">{{orden.producto}}</td> #}
                                            {% if orden.micajon is null %}
                                                <td padding="5" text-align="center"> Paquete pequeño</td>
                                            {% else %}
                                                <td padding="6" text-align="center">{{ orden.micajon.alto }}x{{ orden.micajon.largo }}x{{ orden.micajon.ancho }} - ({{ ((orden.micajon.alto/1000) * (orden.micajon.ancho/1000) * (orden.micajon.largo/1000)) | number_format(2) }})</td>
                                            {% endif %} 
                                            </tr>                  
                                        {% endfor %} 

                                        </table>      
            </div>

        </div>

    </dynamic-page>


     <dynamic-page encoding="UTF-8" font-type="DejaVuSans" page-size="a4">
        <table>
           <tr>
               <td border-color="white"><img width="100%" src="{{ pdf_image('erpBundle:furgomania-logo-ok.png') }}" />
               </td>
               <td border-color="white" padding="20px">
                    <h1 text-align="center">ORDEN DE ENTREGA</h1>
                    <div background-color="#EEEEEE" padding="20px 70px" text-align="center">
                       EQUIPAMIENTOS AUTOINSTALABLES PARA FURGONETAS CAMPER
                    </div>
               </td>
           </tr>

        </table>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> DESTINATARIO </h1>
            <div font-size="18px">

                {{ direccion.name }}<br />
                {# {{ direccion.dniCif }}<br /> #}
                {{ direccion.direccion }}<br />
                {{ direccion.cp }} ( {{ direccion.localidad }} )<br />
                {{ direccion.provincia }}<br />
                {{ direccion.telefono }}<br />
                {{ direccion.email }}

            </div>

        </div>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> OBSERVACIONES DE ENTREGA</h1>
            <div>
                {{ entity.observacionesentrega |nl2br }}
            </div>
        </div>

        <div background-color="#EEEEEE" margin="10px 0px" padding="20px 50px">
            <h1> PARTES DEL ENVIO </h1>
            <div>

                                        <table font-size="8px">
                                            <tr>
                                                <td border-color="white" padding="5" font-size="9px" text-align="center">Referencia</td>
                                                <td border-color="white" padding="5" font-size="9px" text-align="center">Número de Serie</td>
                                                {# <td border-color="white" padding="2" font-size="9px">Contenido</td> #}
                                                <td border-color="white" padding="5" font-size="9px" text-align="center">mm - (m3)</td>
                                            </tr> 

                                        {% for orden in entity.misordenes  %}
                                            <tr>
                                                <td padding="5" text-align="center"><b font-size="12px">{{ orden.referencia ? orden.referencia.factura.codfactura : 'sin referencia' }}</b></td>
                                                <td padding="5" text-align="center"><b font-size="12px">{{ orden.numeroserie }}</b></td>
                                                {# <td padding="2">{{orden.producto}}</td> #}
                                            {% if orden.micajon is null %}
                                                <td padding="5" text-align="center"> Paquete pequeño</td>
                                            {% else %}
                                                <td padding="6" text-align="center">{{ orden.micajon.alto }}x{{ orden.micajon.largo }}x{{ orden.micajon.ancho }} - ({{ ((orden.micajon.alto/1000) * (orden.micajon.ancho/1000) * (orden.micajon.largo/1000)) | number_format(2) }})</td>
                                            {% endif %} 
                                            </tr>                  
                                        {% endfor %} 

                                        </table>      

            </div>
        </div>




    </dynamic-page>

</pdf>