<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html {{ sonata_seo_html_attributes() }}>
<!--<![endif]-->
<head {{ sonata_seo_head_attributes() }}>

<!-- Basic Page Needs
  ================================================== -->
{{ sonata_seo_title() }}
{{ sonata_seo_metadatas() }}
{{ sonata_seo_link_canonical() }}
{{ sonata_seo_lang_alternates() }}
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block earlystylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="google-site-verification" content="CNornoFXlwiR_MMOy_8EIO-5mp2RqBis0jmrZRuWkz8" />

{% block head %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2347357-5', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript">
(function(a,e,c,f,g,b,d){var
h={ak:"926919748",cl:"GUFcCN_S2GQQxNj-uQM"};a[c]=a[c]||
function(){(a[c].q=a[c].q||[]).push(arguments)};a[f]||
(a[f]=h.ak);b=e.createElement(g);b.async=1;b.src="//www.gstatic.com/wcm/loader.js";d=e.getElementsByTagName(g)[0];d.parentNode.insertBefore(b,d);a._googWcmGet=function(b,d,e){a[c](2,b,h,d,null,new
Date,e)}})(window,document,"_googWcmImpl","_googWcmAk","script");
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '427601100773090');
fbq('track', "PageView");
</script>
<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=427601100773090&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>
<body>

    <!-- Primary Page Layout 
      ================================================== -->
    <section class="contactInfos">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p id="flags" class="pull-left">
				{% set locale = app.request.locale %}

				{% if locale == 'es' %}
				<img src="/img/banderas/spain.png" alt="Español">
				{% else %}
				<a href="{{ path('homepage', { '_locale': 'es' }) }}"><img src="/img/banderas/spain.png" alt="Español"></a>
				{% endif %}

				{% if locale == 'en' %}
				<img src="/img/banderas/uk.png" alt="English">
				{% else %}
				<a href="{{ path('homepage', { '_locale': 'en' }) }}"><img src="/img/banderas/uk.png" alt="English"></a>
				{% endif %}

				{% if locale == 'fr' %}
				<img src="/img/banderas/france.png" alt="Français">
				{% else %}
				<a href="{{ path('homepage', { '_locale': 'fr' }) }}"><img src="/img/banderas/france.png" alt="Français"></a>
				{% endif %}

				{% if locale == 'pt' %}
				<img src="/img/banderas/portugal.png" alt="Português">
				{% else %}
				<a href="{{ path('homepage', { '_locale': 'pt' }) }}"><img src="/img/banderas/portugal.png" alt="Português"></a>
				{% endif %}

				{% if locale == 'de' %}
				<img src="/img/banderas/germany.png" alt="Deutsch">
				{% else %}
				<a href="{{ path('homepage', { '_locale': 'de' }) }}"><img src="/img/banderas/germany.png" alt="Deutsch"></a>
				{% endif %}
            </p>

			<p class="pull-right">
				<a href="{% trans %}URL_SOCIALMEDIA_FACEBOOK{% endtrans %}" target="_blank"><img src="/img/social/facebook.png" alt="Facebook"></a>
				<a href="{% trans %}URL_SOCIALMEDIA_YOUTUBE{% endtrans %}" target="_blank"><img src="/img/social/youtube.png" alt="Youtube"></a>
				<a href="{% trans %}URL_SOCIALMEDIA_GOOGLE{% endtrans %}" target="_blank"><img src="/img/social/google.png" alt="Google+"></a>
				<a href="{% trans %}URL_SOCIALMEDIA_TWITTER{% endtrans %}" target="_blank"><img src="/img/social/twitter.png" alt="Twitter"></a>
				
				{#<div class="addthis_sharing_toolbox" style="width:96px; float:right; padding-top:5px"></div>#}
			</p>

          </div>

        </div>
      </div>
    </section>
    <div id="globalWrapper" class="home container">
        {% include 'mainBundle::header.html.twig' only %}

        {% block body %}{% endblock %}

    </div>
    {% include 'mainBundle::footer.html.twig' only %}
	{% block stylesheets %}{% endblock %}        
    {% block javascripts %}{% endblock %}

</body>
</html>