  <!-- header -->
  <header id="mainHeader" class="clearfix">
    <div class="row">
		<div class="span4 clearfix logotop"> 
			<div class="img">
				<a href="{{ path('homepage') }}" class="brand"><img src="{{ asset('bundles/main/images/main-logo.jpg') }}" alt="Furgomania Kits Autoinstalables"/></a>
			</div>
		</div>
		<div class="span8 clearfix">
			<!-- menu -->
			<nav id="mainMenu" class="clearfix pull-right">
			  <ul class="clearfix">

					<li>
					<a href="{{path('homepage')}}" class="firstLevel {% if app.request.get('_route') == 'homepage' %}active{% endif %}">{% trans %}Inicio{% endtrans %}</a>
					</li>
					
					<li>
					<a href="{{path('fm_main_paginas_furgonetacamper')}}" class="firstLevel {% if 'furgoneta-camper' in app.request.uri %}active{% endif %}">{{"Catálogo KITS"|trans}}</a>
					</li>

					<li>
					<a href="{{path('fm_main_paginas_kitautoinstalable')}}" class="firstLevel {% if app.request.get('_route') == 'fm_main_paginas_kitautoinstalable' %}active{% endif %}">{% trans %}Videos Kit{% endtrans %}</a>
					</li>

					<li>
					<a href="{{path('fm_main_concesionarios_index')}}" class="firstLevel {% if app.request.get('_route') == 'fm_main_concesionarios_index' %}active{% endif %}">{% trans %}Exposiciones{% endtrans %}</a>
					</li>
					
					<li>
					<a href="{{path('fm_main_default_contacto')}}" class="firstLevel {% if app.request.get('_route') == 'fm_main_default_contacto' %}active{% endif %}">{% trans %}Contacto{% endtrans %}</a>
					</li>


			   </ul>
			</nav>    

			<!-- menu -->
		</div>        

    </div>
  </header>
  <!-- header -->